# Multiples of 3 or 5
### Problem 1

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [22]:
import pandas as pd

In [2]:
!export PATH=/Library/TeX/texbin:$PATH

In [47]:
soma = 0 # Inicializando a variável soma com zero, de modo a não interferir no resultado final
multiplos_selecionados = [] # Inicializando uma lista vazia, que será populada pelos múltiplos de 3 e 5
for n in range(1000): # Parametrizando o loop para iteração dos n números do intervalo [0,1000)
    if (((n%3)==0 or (n%5)==0) and (n!=0)): # Adicionando estrutura condicional para verificar o resto da divisão do número n por 3 e por 5, excluindo-se o zero.
                                            # Caso um dos restos seja 0, esse número n entra na soma de múltiplos
        multiplos_selecionados.append({"Número":n, "Resto da divisão por 3":(n%3), "Resto da divisão por 5":(n%5)}) # Adiciona o número n, o resto de sua divisão por 3, o resto de sua divisão por 5 à lista multiplos_selecionados
        soma = soma + n # Realiza a soma a cada iteração do loop for
print(f"Soma: {soma}",) # Ao sair do loop for, a soma final é retornada.

Soma: 233168

In [48]:
multiplos_selecionados = pd.DataFrame(multiplos_selecionados) # Transforma a lista num DataFrame

In [49]:
multiplos_selecionados # Imprime na tela o DataFrame com os múltiplos de 3 e 5 entre 0 e 1000

     Número  Resto da divisão por 3  Resto da divisão por 5
0         3                       0                       3
1         5                       2                       0
2         6                       0                       1
3         9                       0                       4
4        10                       1                       0
..      ...                     ...                     ...
461     990                       0                       0
462     993                       0                       3
463     995                       2                       0
464     996                       0                       1
465     999                       0                       4

[466 rows x 3 columns]